<lm-advice-paragraph *ngIf="sumOfScoreNumbersByDate$ | async as sumOfScoreNumbersByDate"
                     [numberMapArray]="sumOfScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Suma liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="averageOfScoreNumbersByDate$ | async as averageOfScoreNumbersByDate"
                     [numberMapArray]="averageOfScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Średnia liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="minMaxDifferenceScoreNumbersByDate$ | async as minMaxDifferenceScoreNumbersByDate"
                     [numberMapArray]="minMaxDifferenceScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Różnica pomiędzy największą i najmniejszą liczbą w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="medianScoreNumbersByDate$ | async as medianScoreNumbersByDate"
                     [numberMapArray]="medianScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Mediana liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="medianAbsoluteDeviationScoreNumbersByDate$ | async as medianAbsoluteDeviationScoreNumbersByDate"
                     [numberMapArray]="medianAbsoluteDeviationScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Mediana bezwzględnego odchylenia liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="productScoreNumbersByDate$ | async as productScoreNumbersByDate"
                     [numberMapArray]="productScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Iloczyn liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="standardDeviationScoreNumbersByDate$ | async as standardDeviationScoreNumbersByDate"
                     [numberMapArray]="standardDeviationScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Odchylenie standardowe liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="multinominalCoefficientsScoreNumbersByDate$ | async as multinominalCoefficientsScoreNumbersByDate"
                     [numberMapArray]="multinominalCoefficientsScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Współczynnik wielomianowy liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="kullbackLeiblerDivergenceScoreNumbersByDate$ | async as kullbackLeiblerDivergenceScoreNumbersByDate"
                     [numberMapArray]="kullbackLeiblerDivergenceScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Rozbieżność Kullbacka-Leiblera liczb dla poprzedzających się losowań"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="greatestCommonDivisorScoreNumbersByDate$ | async as greatestCommonDivisorScoreNumbersByDate"
                     [numberMapArray]="greatestCommonDivisorScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Największy wspólny dzielnik liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="leastCommonMultipleScoreNumbersByDate$ | async as leastCommonMultipleScoreNumbersByDate"
                     [numberMapArray]="leastCommonMultipleScoreNumbersByDate"
                     [isGeneralAdvice]="true"
                     title="Najmniejsza wspólna wielokrotność liczb w losowaniu"></lm-advice-paragraph>
<ng-container *ngIf="sumOfScoreNumbersOnIndexByDateObservablesMap.size">
    <lm-advice-paragraph *ngFor="let stream of sumOfScoreNumbersOnIndexByDateObservablesMap.values(); let i = index"
                         [numberMapArray]="stream | async"
                         [isGeneralAdvice]="true"
                         [title]="'Suma '+ (i + 1) +  ' i ' + (i + 2) + ' liczby w losowaniu'"></lm-advice-paragraph>
</ng-container>
<ng-container *ngIf="averageOfScoreNumbersOnIndexByDateObservablesMap.size">
    <lm-advice-paragraph *ngFor="let stream of averageOfScoreNumbersOnIndexByDateObservablesMap.values(); let i = index"
                         [numberMapArray]="stream | async"
                         [isGeneralAdvice]="true"
                         [title]="'Średnia '+ (i + 1) +  ' i ' + (i + 2) + ' liczby w losowaniu'"></lm-advice-paragraph>
</ng-container>
<ng-container *ngIf="minMaxDifferenceScoreNumbersByDateObservablesMap.size">
    <lm-advice-paragraph *ngFor="let stream of minMaxDifferenceScoreNumbersByDateObservablesMap.values(); let i = index"
                         [numberMapArray]="stream | async"
                         [isGeneralAdvice]="true"
                         [title]="'Różnica pomiędzy '+ (i + 1) +  ' a ' + (i + 2) + ' liczbą w losowaniu'"></lm-advice-paragraph>
</ng-container>
<ng-container *ngIf="leastCommonMultipleScoreNumbersByDateObservablesMap.size">
    <lm-advice-paragraph *ngFor="let stream of leastCommonMultipleScoreNumbersByDateObservablesMap.values(); let i = index"
                         [numberMapArray]="stream | async"
                         [isGeneralAdvice]="true"
                         [title]="'Najmniejsza wspólna wielokrotność liczb '+ (i + 1) +  ' a ' + (i + 2) + ' w losowaniu'"></lm-advice-paragraph>
</ng-container>
