<lm-advice-paragraph *ngIf="sumOfScoreNumbers$ | async as sumOfScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="sumOfScoreNumbers"
                     (onSelectNumberIndexChange)="calculateSumOfScoreNumbers($event)"
                     title="Suma liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="averageOfScoreNumbers$ | async as averageOfScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="averageOfScoreNumbers"
                     (onSelectNumberIndexChange)="calculateAverageOfScoreNumbers($event)"
                     title="Średnia liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="minMaxDifferenceScoreNumbers$ | async as minMaxDifferenceScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="minMaxDifferenceScoreNumbers"
                     (onSelectNumberIndexChange)="calculateMinMaxDifferenceScoreNumbers($event)"
                     title="Różnica pomiędzy największą i najmniejszą liczbą w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="medianScoreNumbers$ | async as medianScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="medianScoreNumbers"
                     (onSelectNumberIndexChange)="calculateMedianScoreNumbers($event)"
                     title="Mediana liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="medianAbsoluteDeviationScoreNumbers$ | async as medianAbsoluteDeviationScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="medianAbsoluteDeviationScoreNumbers"
                     (onSelectNumberIndexChange)="calculateMedianAbsoluteDeviationScoreNumbers($event)"
                     title="Mediana bezwzględnego odchylenia liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="productScoreNumbers$ | async as productScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="productScoreNumbers"
                     (onSelectNumberIndexChange)="calculateProductScoreNumbers($event)"
                     title="Iloczyn liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="standardDeviationScoreNumbers$ | async as standardDeviationScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="standardDeviationScoreNumbers"
                     (onSelectNumberIndexChange)="calculateStandardDeviationScoreNumbers($event)"
                     title="Odchylenie standardowe liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="multinominalCoefficientsScoreNumbers$ | async as multinominalCoefficientsScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="multinominalCoefficientsScoreNumbers"
                     (onSelectNumberIndexChange)="calculateMultinominalCoefficientsScoreNumbers($event)"
                     title="Współczynnik wielomianowy liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="kullbackLeiblerDivergenceScoreNumbers$ | async as kullbackLeiblerDivergenceScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="kullbackLeiblerDivergenceScoreNumbers"
                     (onSelectNumberIndexChange)="calculateKullbackLeiblerDivergenceScoreNumbers($event)"
                     title="Rozbieżność Kullbacka-Leiblera liczb dla poprzedzających się losowań"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="greatestCommonDivisorScoreNumbers$ | async as greatestCommonDivisorScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="greatestCommonDivisorScoreNumbers"
                     (onSelectNumberIndexChange)="calculateGreatestCommonDivisorScoreNumbers($event)"
                     title="Największy wspólny dzielnik liczb w losowaniu"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="leastCommonMultipleScoreNumbers$ | async as leastCommonMultipleScoreNumbers"
                     [isGeneralAdvice]="true"
                     [isNumberIndexAdvice]="true"
                     [numberMapArray]="leastCommonMultipleScoreNumbers"
                     (onSelectNumberIndexChange)="calculateLeastCommonMultipleScoreNumbers($event)"
                     title="Najmniejsza wspólna wielokrotność liczb w losowaniu"></lm-advice-paragraph>
