@import "base.scss";

p {
    @include font('ultra-small');
    position: absolute;
    bottom: -20px;
    left: 0;

    &.ng-valid {
        color: $success;
    }

    &.ng-invalid {
        color: $danger;
    }
}
