@import "base.scss";

.control-tooltip-error {
    @include flex(flex, flex-start, center, row);
    height: 40px;
    min-width: 190px;
    padding: 0 $padding-m;
    color: $base-font-color;
    border-top-right-radius: $border-radius-s;
    border-bottom-right-radius: $border-radius-s;
    background: $danger;

    span {
        z-index: 1;
    }

    .arrow {
        @include size(28px, 28px);
        position: absolute;
        top: 6px;
        left: -14px;
        transform: rotate(45deg);
        background: $danger;
    }
}


