<p-table #table [columns]="columns" [value]="scoresList$ | async" [globalFilterFields]="['numbers']" [rowTrackBy]="rowTrackBy">
    <ng-template pTemplate="caption">
        <input #inputElement type="text" pInputText size="50" placeholder="Szukaj wylosowanych liczb" (input)="table.filterGlobal(inputElement.value, 'contains')" style="width:auto">
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-score>
        <tr>
            <td>{{ score.id }}</td>
            <td>{{ score.date }}</td>
            <td>{{ score.numbers }}</td>
            <td>0{{ score.bonus_number }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="4" style="text-align: center">
                Brak danych
            </td>
        </tr>
    </ng-template>
</p-table>
