<div class="container">
    <div class="chart">
        <p-chart type="bar" [data]="chartData"></p-chart>
    </div>
    <div class="input-container">
        <div class="date-range-input">
            <p-calendar [showIcon]="true"
                        [(ngModel)]="dateRangeFilter"
                        selectionMode="range"
                        [readonlyInput]="false"
                        dateFormat="yy-mm-dd"
                        dataType="string"
                        placeholder="Wybierz zakres dat"
                        (onSelect)="loadScoresNumbers()">
            </p-calendar>
        </div>
        <div class="select-button-input">
            <p-selectButton [options]="selectButtonOptions" [(ngModel)]="selectedChartType" (onChange)="loadScoresNumbers()"></p-selectButton>
        </div>
    </div>
</div>
