<div class="lottery-numbers-set-generator-container">
    <div class="coupon-container">
        <lm-coupon-control></lm-coupon-control>
    </div>
    <!--<div class="advices-container">
        <div class="numbers-container">
            <lm-lotto-ball *ngFor="let number of generatedNumbersSet; let i = index" [ballNumber]="number" ballSize="medium" [clickable]="true" [ballIndex]="i" [selectedBallIndex]="selectedBallIndex"
                           (onBallClick)="onBallClick($event)"></lm-lotto-ball>
        </div>
        <lm-generator-tips [index]="selectedBallIndex"></lm-generator-tips>
    </div>-->
</div>
