<div class="lottery-numbers-set-generator-container">
    <div class="headers">
        <div class="numbers-header">Wybierz 5 liczb z zakresu 1-35</div>
        <div class="divider"></div>
        <div class="bonus-number-header">Wybierz 1 liczbę z zakresu 1-4</div>
    </div>
    <div class="numbers-container">
        <ng-container *ngFor="let number of generatedNumbersSet; let i = index">
            <ng-container *ngIf="i <= 4">
                <lm-lotto-ball [number]="number" ballSize="big" [clickable]="true" [ballIndex]="i" [selectedBallIndex]="selectedBallIndex" (onBallClick)="onBallClick($event)"></lm-lotto-ball>
            </ng-container>
            <div class="divider" *ngIf="i === 4"></div>
            <ng-container *ngIf="i > 4">
                <div class="bonus-number">
                    <lm-lotto-ball [number]="number" ballSize="big" [clickable]="true" [ballIndex]="i" [selectedBallIndex]="selectedBallIndex" (onBallClick)="onBallClick($event)"></lm-lotto-ball>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="numbers-chevrons">
        <ng-container *ngFor="let number of generatedNumbersSet; let i = index">
            <div class="divider" *ngIf="selectedBallIndex !== i && i < 5"></div>
            <lm-ball-chevron *ngIf="selectedBallIndex === i && i < 5"></lm-ball-chevron>
            <div class="bonus-divider" *ngIf="selectedBallIndex === 5 && i === 5"></div>
            <div class="bonus-chevron" *ngIf="selectedBallIndex === 5 && i === 5">
                <lm-ball-chevron></lm-ball-chevron>
            </div>
        </ng-container>
    </div>
    <div class="number-tips">
        Zakres liczb dla tego miejsca
        Najczęściej spotykane na tym miejscu
        Najczesciej spotykane w ten dzien tygodnia
        Najczesciej spotykane po poprzedniej liczbie
    </div>
    <div class="actions">
        actions
    </div>
</div>
