<div class="lottery-numbers-set-generator-container">
    <div class="numbers-container">
        <div class="numbers">
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
        </div>
        <div class="bonus-number">
            <lm-lotto-ball [value]="" ballSize="big" [clickable]="true"></lm-lotto-ball>
        </div>
    </div>
    <div class="number-tips">
        number-tips
    </div>
    <div class="actions">
        actions
    </div>
</div>
