<div class="coupon-container">
    <div class="numbers-container">
        <div class="numbers-caption">5 z 35</div>
        <div (click)="selectNumber(number)" *ngFor="let number of numbers" [ngClass]="{ 'selected': isSelected(number) }" class="number">
            <span>[</span><span>{{ number }}</span><span>]</span>
        </div>
    </div>
    <div class="bonus-numbers-container">
        <div class="bonus-number-caption">1 z 4</div>
        <div (click)="selectBonusNumber(bonusNumber)" *ngFor="let bonusNumber of bonusNumbers" [ngClass]="{ 'selected': isBonusNumberSelected(bonusNumber) }" class="bonus-number">
            <span>[</span><span>{{ bonusNumber }}</span><span>]</span>
        </div>
    </div>
</div>
