@import "base.scss";

ul {
    @include flex(flex, flex-start, flex-start, row, relative, wrap);
    @include size(100%);

    li {
        @include flex(flex, center, center, row, relative);
        color: $white;
        background: $secondary;
        cursor: pointer;
        padding: $padding-s $padding-m;

        &.active {
            background: $primary;
        }
    }
}
