@import "base.scss";

.container {
    @include flex(flex, center, center, row);
    @include size(100%, 100%);

    .side-menu {
        position: fixed;
        @include size(250px, 100%);
        top: 0;
        left: 0;
        background: $prime-ng-table-header-color;
    }

    .content {
        @include flex(inline-flex, center, flex-start, row, relative);
        @include size(100%, 100%);
        margin-left: 250px;
        background: $prime-ng-table-header-color;
    }
}
