<div class="select-container">
    <p-selectButton #adviceTypeValue [options]="adviceTypes" [(ngModel)]="adviceType" (onOptionClick)="onOptionClick(adviceTypeValue.value, dateRangeValue.value)"></p-selectButton>
    <p-selectButton #dateRangeValue [options]="dateRangeTypes" [(ngModel)]="dateRange" (onOptionClick)="onOptionClick(adviceTypeValue.value, dateRangeValue.value)"></p-selectButton>
</div>
<div class="tips-container">
    <ng-container *ngIf="adviceType === 'general'">

    </ng-container>
    <ng-container *ngIf="adviceType === 'numbers'">

    </ng-container>
    <ng-container *ngIf="adviceType === 'bonus_number'">
        <lm-advice-paragraph *ngIf="mostPopularBonusNumbersByDayOfTheWeek$ | async as mostPopularBonusNumbersByDayOfTheWeek"
                             title="Częstotliwość losowania liczb bonusowych w dniu tygodnia"
                             [dateRange]="this.dateRange"
                             [todayDayName]="todayDayName"
                             [pData]="mostPopularBonusNumbersByDayOfTheWeek"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="bonusNumberFrequency$ | async as bonusNumberFrequency"
                             title="Częstotliwość losowania liczb bonusowych"
                             [dateRange]="this.dateRange"
                             [pData]="bonusNumberFrequency"></lm-advice-paragraph>
    </ng-container>
</div>
