<div class="select-container">
    <p-selectButton #adviceTypeValue (onOptionClick)="onOptionClick(adviceTypeValue.value, dateRangeValue.value)" [(ngModel)]="adviceType" [options]="adviceTypes"></p-selectButton>
    <p-selectButton #dateRangeValue (onOptionClick)="onOptionClick(adviceTypeValue.value, dateRangeValue.value)" [(ngModel)]="dateRange" [options]="dateRangeTypes"></p-selectButton>
</div>
<div class="tips-container">
    <ng-container *ngIf="adviceType === 'general'">

    </ng-container>
    <ng-container *ngIf="adviceType === 'numbers'">
        <lm-advice-paragraph *ngIf="numbersFrequency$ | async as numbersFrequency"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="numbersFrequency"
                             title="Częstotliwość losowania wszystkich liczb"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="numbersFrequencyByDayOfTheWeek$ | async as numbersFrequencyByDayOfTheWeek"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="numbersFrequencyByDayOfTheWeek"
                             [todayDayName]="todayDayName"
                             title="Częstotliwość losowania wszystkich liczb w dniu tygodnia"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="isEntireRange && mostPopularNumbersInActualMonthName$ | async as mostPopularNumbersInActualMonthName"
                             [numberDataArray]="mostPopularNumbersInActualMonthName"
                             [todayMonthName]="todayMonthName"
                             [title]="'Częstotliwość losowania liczb w miesiącu '"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="numbersByOddOrEvenDay$ | async as numbersByOddOrEvenDay"
                             [numberDataArray]="numbersByOddOrEvenDay"
                             [dateRange]="this.dateRange"
                             [title]="numbersByOddOrEvenDayLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && numbersByOddOrEvenMonth$ | async as numbersByOddOrEvenMonth"
                             [numberDataArray]="numbersByOddOrEvenMonth"
                             [dateRange]="this.dateRange"
                             [title]="numbersByOddOrEvenMonthLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && numbersByYearQuarter$ | async as numbersByYearQuarter"
                             [numberDataArray]="numbersByYearQuarter"
                             [dateRange]="this.dateRange"
                             [title]="numbersByYearQuarterLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="isEntireRange && numbersByYearDayNumber$ | async as numbersByYearDayNumber"
                             [numberDataArray]="numbersByYearDayNumber"
                             [dateRange]="this.dateRange"
                             [title]="numbersByYearDayNumberLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && numbersByMonthDayNumber$ | async as numbersByMonthDayNumber"
                             [numberDataArray]="numbersByMonthDayNumber"
                             [dateRange]="this.dateRange"
                             [title]="numbersByMonthDayNumberLabel"></lm-advice-paragraph>
        <div>Dla numerów indeksów</div>
        <lm-advice-paragraph *ngIf="numberOnIndexFrequency$ | async as numbersOnIndexFrequency"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="numbersOnIndexFrequency"
                             [title]="'Częstotliwość losowania liczb na indeksie nr.' + (numbers.length + 1)"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="numberOnIndexFrequencyByDayOfTheWeek$ | async as numberOnIndexFrequencyByDayOfTheWeek"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="numberOnIndexFrequencyByDayOfTheWeek"
                             [title]="'Częstotliwość losowania liczb na indeksie nr.' + (numbers.length + 1) + ' w dniu'"
                             [todayDayName]="todayDayName"></lm-advice-paragraph>
    </ng-container>
    <ng-container *ngIf="adviceType === 'bonus_number'">
        <lm-advice-paragraph *ngIf="bonusNumberFrequency$ | async as bonusNumberFrequency"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="bonusNumberFrequency"
                             title="Częstotliwość losowania liczb bonusowych"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="mostPopularBonusNumberByDayOfTheWeek$ | async as mostPopularBonusNumbersByDayOfTheWeek"
                             [dateRange]="this.dateRange"
                             [numberDataArray]="mostPopularBonusNumbersByDayOfTheWeek"
                             [todayDayName]="todayDayName"
                             title="Częstotliwość losowania liczb bonusowych w dniu tygodnia"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="isEntireRange && mostPopularBonusNumberInActualMonthName$ | async as mostPopularBonusNumberInActualMonthName"
                             [numberDataArray]="mostPopularBonusNumberInActualMonthName"
                             [todayMonthName]="todayMonthName"
                             [title]="'Częstotliwość losowania liczb bonusowych w miesiącu '"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="bonusNumberByOddOrEvenDay$ | async as bonusNumberByOddOrEvenDay"
                             [numberDataArray]="bonusNumberByOddOrEvenDay"
                             [dateRange]="this.dateRange"
                             [title]="bonusNumberByOddOrEvenDayLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && bonusNumberByOddOrEvenMonth$ | async as bonusNumberByOddOrEvenMonth"
                             [numberDataArray]="bonusNumberByOddOrEvenMonth"
                             [dateRange]="this.dateRange"
                             [title]="bonusNumberByOddOrEvenMonthLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && bonusNumberByYearQuarter$ | async as bonusNumberByYearQuarter"
                             [numberDataArray]="bonusNumberByYearQuarter"
                             [dateRange]="this.dateRange"
                             [title]="bonusNumberByYearQuarterLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="isEntireRange && bonusNumberByYearDayNumber$ | async as bonusNumberByYearDayNumber"
                             [numberDataArray]="bonusNumberByYearDayNumber"
                             [dateRange]="this.dateRange"
                             [title]="bonusNumberByYearDayNumberLabel"></lm-advice-paragraph>
        <lm-advice-paragraph *ngIf="(isEntireRange || isLastYearRange) && bonusNumberByMonthDayNumber$ | async as bonusNumberByMonthDayNumber"
                             [numberDataArray]="bonusNumberByMonthDayNumber"
                             [dateRange]="this.dateRange"
                             [title]="bonusNumberByMonthDayNumberLabel"></lm-advice-paragraph>
    </ng-container>
</div>
