@import "base.scss";

:host {
    margin-right: $margin-m;
}

.stage {
    @include flex(inline-flex, center, center, column);
    perspective-origin: 50% 50%;

    .ball {
        @include flex(inline-flex, center, center, column);
        font-weight: 700;
        border-radius: $border-radius-50;
        color: $white;

        .shadow {
            position: absolute;
            @include size(100%, 100%);
            background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
            transform: rotateX(90deg) translateZ(-25px);
            z-index: -1;
        }

        &.disabled {
            background: radial-gradient(circle at 15px 15px, $secondary, $black);
        }
    }

    &.small {
        @include size(50px, 50px);
        perspective: 35px;

        .ball {
            @include size(50px, 50px);
            background: radial-gradient(circle at 15px 15px, $ball-color, $black);

        }
    }

    &.medium {
        @include size(100px, 100px);
        perspective: 70px;

        .ball {
            @include size(100px, 100px);
            @include font('medium', 700);
            background: radial-gradient(circle at 30px 30px, $ball-color, $black);
        }
    }

    &.big {
        @include size(150px, 150px);
        perspective: 105px;

        .ball {
            @include size(150px, 150px);
            @include font('big', 700);
            background: radial-gradient(circle at 45px 45px, $ball-color, $black);

            &.not-selected {
                background: radial-gradient(circle at 45px 45px, $secondary, $black);
            }

            &.clickable {
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
