<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersFrequency($event)"
                     *ngIf="numbersFrequency$ | async as numbersFrequency"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersFrequency"
                     title="Częstotliwość losowania wszystkich liczb"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersFrequencyByDayOfTheWeek($event)"
                     *ngIf="numbersFrequencyByDayOfTheWeek$ | async as numbersFrequencyByDayOfTheWeek"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersFrequencyByDayOfTheWeek"
                     [title]="numbersFrequencyByDayOfTheWeekLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersInActualMonthName($event)"
                     *ngIf="numbersInActualMonthName$ | async as numbersInActualMonthName"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersInActualMonthName"
                     [title]="numbersInActualMonthNameLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersByOddOrEvenDay($event)"
                     *ngIf="numbersByOddOrEvenDay$ | async as numbersByOddOrEvenDay"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersByOddOrEvenDay"
                     [title]="numbersByOddOrEvenDayLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersByOddOrEvenMonth($event)"
                     *ngIf="numbersByOddOrEvenMonth$ | async as numbersByOddOrEvenMonth"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersByOddOrEvenMonth"
                     [title]="numbersByOddOrEvenMonthLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersByYearQuarter($event)"
                     *ngIf="numbersByYearQuarter$ | async as numbersByYearQuarter"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersByYearQuarter"
                     [title]="numbersByYearQuarterLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersByYearDayNumber($event)"
                     *ngIf="numbersByYearDayNumber$ | async as numbersByYearDayNumber"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersByYearDayNumber"
                     [title]="numbersByYearDayNumberLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="calculateNumbersByMonthDayNumber($event)"
                     *ngIf="numbersByMonthDayNumber$ | async as numbersByMonthDayNumber"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersByMonthDayNumber"
                     [title]="numbersByMonthDayNumberLabel"></lm-advice-paragraph>
