<lm-advice-paragraph *ngIf="numbersFrequency$ | async as numbersFrequency"
                     [numberDataArray]="numbersFrequency"
                     [title]="numbersFrequencyLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="numbersFrequencyByDayOfTheWeek$ | async as numbersFrequencyByDayOfTheWeek"
                     [numberDataArray]="numbersFrequencyByDayOfTheWeek"
                     [title]="numbersFrequencyByDayOfTheWeekLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="numbersInActualMonthName$ | async as numbersInActualMonthName"
                     [numberDataArray]="numbersInActualMonthName"
                     [title]="numbersInActualMonthNameLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="numbersByOddOrEvenDay$ | async as numbersByOddOrEvenDay"
                     [numberDataArray]="numbersByOddOrEvenDay"
                     [title]="numbersByOddOrEvenDayLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && numbersByOddOrEvenMonth$ | async as numbersByOddOrEvenMonth"
                     [numberDataArray]="numbersByOddOrEvenMonth"
                     [title]="numbersByOddOrEvenMonthLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && numbersByYearQuarter$ | async as numbersByYearQuarter"
                     [numberDataArray]="numbersByYearQuarter"
                     [title]="numbersByYearQuarterLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="isEntireRangeDateRange && numbersByYearDayNumber$ | async as numbersByYearDayNumber"
                     [numberDataArray]="numbersByYearDayNumber"
                     [title]="numbersByYearDayNumberLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && numbersByMonthDayNumber$ | async as numbersByMonthDayNumber"
                     [numberDataArray]="numbersByMonthDayNumber"
                     [title]="numbersByMonthDayNumberLabel"></lm-advice-paragraph>
