<p-accordion>
    <p-accordionTab [header]="title">
        <div class="accordion-menu-top-level">
            <span>
                <p-selectButton (onChange)="sendSelectedNumberIndex()"
                                [(ngModel)]="dateRange"
                                [options]="dateRangeTypes">
                </p-selectButton>
            </span>
        </div>
        <div class="accordion-menu-bottom-level">
            <span>
                <p-selectButton (onChange)="sendSelectedNumberIndex()"
                                (onOptionClick)="onOptionClick($event)"
                                *ngIf="isNumberIndexAdvice"
                                [(ngModel)]="numberIndex"
                                multiple="multiple"
                                [options]="numberIndexButtonConfig">
                </p-selectButton>
            </span>
            <span *ngIf="!isGeneralAdvice">
                <span *ngIf="isChartViewType">
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="chartDataType" [options]="chartTypesButtonConfig"></p-selectButton>
                </span>
                <span>
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="sortBy" [options]="sortTypesButtonConfig"></p-selectButton>
                </span>
                <span>
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="viewType" [options]="viewTypesButtonConfig"></p-selectButton>
                </span>
            </span>
        </div>
        <div *ngIf="isNumbersViewType" class="ball-data-container">
            <div *ngFor="let numberData of (numberDataArray | numberDataArraySortBy:sortBy)" class="ball-data">
                <lm-lotto-ball [ballNumber]="numberData.ball" ballSize="medium"></lm-lotto-ball>
                <span>{{ numberData.value }} ({{ numberData.percentage | toFixed:2 }}%)</span>
            </div>
        </div>
        <lm-number-data-chart *ngIf="isChartViewType && !isGeneralAdvice"
                              [chartDataType]="chartDataType"
                              [numberDataArray]="numberDataArray | numberDataArraySortBy:sortBy"
                              [sortBy]="sortBy">
        </lm-number-data-chart>
        <lm-date-value-chart *ngIf="isGeneralAdvice" [numberMapArray]="numberMapArray"></lm-date-value-chart>
    </p-accordionTab>
</p-accordion>
<div #accordionBottomAnchor hidden></div>
