<p-accordion (onOpen)="onAccordionOpen()">
    <p-accordionTab [header]="title">
        <nav class="accordion-menu">
            <div class="accordion-menu-item">
                <form [formGroup]="dateIndexesFilterForm" class="date-index-inputs">
                    <span>
                        <p-calendar [(ngModel)]="dateRange" [showIcon]="true"></p-calendar>
                    </span>
                    <span>
                        <p-selectButton formControlName="dateRange"
                                        [options]="dateRangeTypes">
                        </p-selectButton>
                    </span>
                    <span *ngIf="isNumberIndexAdvice">
                        <p-selectButton formControlName="indexes"
                                        [options]="numberIndexButtonConfig"
                                        multiple="multiple">
                        </p-selectButton>
                    </span>
                </form>
            </div>

            <span *ngIf="!isGeneralAdvice" class="accordion-menu-item">
                <span *ngIf="isChartViewType">
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="chartDataType" [options]="chartTypesButtonConfig"></p-selectButton>
                </span>
                <span>
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="sortBy" [options]="sortTypesButtonConfig"></p-selectButton>
                </span>
                <span>
                    <p-selectButton (onOptionClick)="onOptionClick($event)" [(ngModel)]="viewType" [options]="viewTypesButtonConfig"></p-selectButton>
                </span>
            </span>
        </nav>
        <div *ngIf="isNumbersViewType" class="ball-data-container">
            <div *ngFor="let numberData of (numberDataArray | numberDataArraySortBy:sortBy)" class="ball-data">
                <lm-lotto-ball [ballNumber]="numberData.ball" ballSize="medium"></lm-lotto-ball>
                <span>{{ numberData.value }} ({{ numberData.percentage | toFixed:2 }}%)</span>
            </div>
        </div>
        <lm-number-data-chart *ngIf="isChartViewType && !isGeneralAdvice"
                              [chartDataType]="chartDataType"
                              [numberDataArray]="numberDataArray | numberDataArraySortBy:sortBy"
                              [sortBy]="sortBy">
        </lm-number-data-chart>
        <lm-date-value-chart *ngIf="isGeneralAdvice && this.numbersDateValueArray$ | async as numbersDateValueArray" [numbersDateValueArray]="numbersDateValueArray"></lm-date-value-chart>
    </p-accordionTab>
</p-accordion>
<div #accordionBottomAnchor hidden></div>
