@import "base.scss";

:host {
    @include size(100%, 100%);
}

.accordion-menu {
    @include flex(inline-flex, space-between, center, row);
    @include size(100%);
    padding: $padding-l 0;

    .accordion-menu-item {
        .date-index-inputs {
            @include flex(flex, center, center, row);

            span {
                &:first-of-type {
                    width: 215px;
                    margin-right: $margin-m;
                }
            }
        }

        span {
            &:not(:last-of-type) {
                margin-right: $margin-m;
            }
        }
    }
}

.ball-data-container {
    @include flex(inline-flex, flex-start, center, row, relative, wrap);
    @include size(100%);
    overflow: hidden;

    .ball-data {
        margin: 0 $margin-m $margin-m 0;

        span {
            display: block;
            text-align: center;
        }
    }
}
