<div class="login-container">
    <img alt="logo" class="app-logo" src="../../../../../assets/images/app-logo.svg">
    <form [formGroup]="loginForm">
        <h1>Logowanie</h1>
        <label>
            <span class="input-group">
                <lm-input-add-on-icon controlName="username"><lm-icon>person</lm-icon></lm-input-add-on-icon>
                <input autocomplete="username" formControlName="username" lmFormControlErrorTooltip pInputText placeholder="Nazwa użytkownika" spellcheck="false" type="text">
            </span>
        </label>
        <label>
            <span class="input-group">
                <lm-input-add-on-icon controlName="password"><lm-icon>lock</lm-icon></lm-input-add-on-icon>
                <input autocomplete="password" formControlName="password" lmFormControlErrorTooltip pInputText placeholder="Hasło" spellcheck="false" type="password">
            </span>
        </label>
        <div class="form-actions">
            <button [disabled]="loginForm.invalid" class="ui-button-raised ui-button" icon="pi pi-save" label="Zaloguj" pButton type="submit" (click)="onLogin()"></button>
        </div>
        <div class="register-link">
            Nie masz konta? <span routerLink="../register">Zarejestruj się</span>
        </div>
    </form>
</div>
