<div class="login-container">
    <img alt="logo" class="app-logo" src="../../../../../assets/images/app-logo.svg">
    <form [formGroup]="loginForm">
        <h1>Logowanie</h1>
        <label>
            <span class="input-group">
                <lm-input-add-on-icon theme="light"><lm-icon>person</lm-icon></lm-input-add-on-icon>
                <input formControlName="username" pInputText placeholder="Nazwa użytkownika" spellcheck="false" type="text">
            </span>
        </label>
        <label>
            <span class="input-group">
                <lm-input-add-on-icon theme="light"><lm-icon>lock</lm-icon></lm-input-add-on-icon>
                <input formControlName="password" pInputText placeholder="Hasło" spellcheck="false" type="password">
            </span>
        </label>
        <div class="form-actions">
            <button [disabled]="loginForm.invalid" class="ui-button-raised ui-button" icon="pi pi-save" label="Zaloguj" pButton type="submit"></button>
        </div>
    </form>
</div>
