<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexFrequencyIndexChange($event)"
                     *ngIf="numberOnIndexFrequency$ | async as numbersOnIndexFrequency"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numbersOnIndexFrequency"
                     [title]="numberOnIndexFrequencyLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexFrequencyByDayOfTheWeekIndexChange($event)"
                     *ngIf="numberOnIndexFrequencyByDayOfTheWeek$ | async as numberOnIndexFrequencyByDayOfTheWeek"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexFrequencyByDayOfTheWeek"
                     [title]="numberOnIndexFrequencyByDayOfTheWeekLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexInActualMonthNameIndexChange($event)"
                     *ngIf="numberOnIndexInActualMonthName$ | async as numberOnIndexInActualMonthName"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexInActualMonthName"
                     [title]="numberOnIndexInActualMonthNameLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexByOddOrEvenDayIndexChange($event)"
                     *ngIf="numberOnIndexByOddOrEvenDay$ | async as numberOnIndexByOddOrEvenDay"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexByOddOrEvenDay"
                     [title]="numberOnIndexByOddOrEvenDayLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexByOddOrEvenMonthIndexChange($event)"
                     *ngIf="numberOnIndexByOddOrEvenMonth$ | async as numberOnIndexByOddOrEvenMonth"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexByOddOrEvenMonth"
                     [title]="numberOnIndexByOddOrEvenMonthLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexByYearQuarterIndexChange($event)"
                     *ngIf="numberOnIndexByYearQuarter$ | async as numberOnIndexByYearQuarter"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexByYearQuarter"
                     [title]="numberOnIndexByYearQuarterLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexByYearDayIndexChange($event)"
                     *ngIf="numberOnIndexByYearDayNumber$ | async as numberOnIndexByYearDayNumber"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexByYearDayNumber"
                     [title]="numberOnIndexByYearDayNumberLabel"></lm-advice-paragraph>
<lm-advice-paragraph (onSelectNumberIndexChange)="onNumberOnIndexByMonthDayIndexChange($event)"
                     *ngIf="numberOnIndexByMonthDayNumber$ | async as numberOnIndexByMonthDayNumber"
                     [isNumberIndexAdvice]="true"
                     [numberDataArray]="numberOnIndexByMonthDayNumber"
                     [title]="numberOnIndexByMonthDayNumberLabel"></lm-advice-paragraph>
