<lm-advice-paragraph *ngIf="bonusNumberFrequency$ | async as bonusNumberFrequency"
                     [numberDataArray]="bonusNumberFrequency"
                     [title]="bonusNumberFrequencyLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByDayOfTheWeek$ | async as bonusNumbersByDayOfTheWeek"
                     [numberDataArray]="bonusNumbersByDayOfTheWeek"
                     [title]="bonusNumberByDayOfTheWeekLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="isEntireRangeDateRange && bonusNumberInActualMonthName$ | async as bonusNumberInActualMonthName"
                     [numberDataArray]="bonusNumberInActualMonthName"
                     [title]="bonusNumberInActualMonthNameLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByOddOrEvenDay$ | async as bonusNumberByOddOrEvenDay"
                     [numberDataArray]="bonusNumberByOddOrEvenDay"
                     [title]="bonusNumberByOddOrEvenDayLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByOddOrEvenMonth$ | async as bonusNumberByOddOrEvenMonth"
                     [numberDataArray]="bonusNumberByOddOrEvenMonth"
                     [title]="bonusNumberByOddOrEvenMonthLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByYearQuarter$ | async as bonusNumberByYearQuarter"
                     [numberDataArray]="bonusNumberByYearQuarter"
                     [title]="bonusNumberByYearQuarterLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="isEntireRangeDateRange && bonusNumberByYearDayNumber$ | async as bonusNumberByYearDayNumber"
                     [numberDataArray]="bonusNumberByYearDayNumber"
                     [title]="bonusNumberByYearDayNumberLabel(dateRange)"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByMonthDayNumber$ | async as bonusNumberByMonthDayNumber"
                     [numberDataArray]="bonusNumberByMonthDayNumber"
                     [title]="bonusNumberByMonthDayNumberLabel(dateRange)"></lm-advice-paragraph>
