<lm-advice-paragraph *ngIf="bonusNumberFrequency$ | async as bonusNumberFrequency"
                     [numberDataArray]="bonusNumberFrequency"
                     (onSelectNumberIndexChange)="calculateBonusNumberFrequency($event)"
                     title="Częstotliwość losowania liczb bonusowych"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByDayOfTheWeek$ | async as bonusNumbersByDayOfTheWeek"
                     [numberDataArray]="bonusNumbersByDayOfTheWeek"
                     (onSelectNumberIndexChange)="calculateBonusNumbersByDayOfTheWeek($event)"
                     [title]="bonusNumberByDayOfTheWeekLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberInActualMonthName$ | async as bonusNumberInActualMonthName"
                     [numberDataArray]="bonusNumberInActualMonthName"
                     (onSelectNumberIndexChange)="calculateBonusNumberInActualMonthName($event)"
                     [title]="bonusNumberInActualMonthNameLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByOddOrEvenDay$ | async as bonusNumberByOddOrEvenDay"
                     [numberDataArray]="bonusNumberByOddOrEvenDay"
                     (onSelectNumberIndexChange)="calculateBonusNumberByOddOrEvenDay($event)"
                     [title]="bonusNumberByOddOrEvenDayLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByOddOrEvenMonth$ | async as bonusNumberByOddOrEvenMonth"
                     [numberDataArray]="bonusNumberByOddOrEvenMonth"
                     (onSelectNumberIndexChange)="calculateBonusNumberByOddOrEvenMonth($event)"
                     [title]="bonusNumberByOddOrEvenMonthLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByYearQuarter$ | async as bonusNumberByYearQuarter"
                     [numberDataArray]="bonusNumberByYearQuarter"
                     (onSelectNumberIndexChange)="calculateBonusNumberByYearQuarter($event)"
                     [title]="bonusNumberByYearQuarterLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByYearDayNumber$ | async as bonusNumberByYearDayNumber"
                     [numberDataArray]="bonusNumberByYearDayNumber"
                     (onSelectNumberIndexChange)="calculateBonusNumberByYearDayNumber($event)"
                     [title]="bonusNumberByYearDayNumberLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByMonthDayNumber$ | async as bonusNumberByMonthDayNumber"
                     [numberDataArray]="bonusNumberByMonthDayNumber"
                     (onSelectNumberIndexChange)="calculateBonusNumberByMonthDayNumber($event)"
                     [title]="bonusNumberByMonthDayNumberLabel"></lm-advice-paragraph>
