<lm-advice-paragraph *ngIf="bonusNumberFrequency$ | async as bonusNumberFrequency"
                     [numberDataArray]="bonusNumberFrequency"
                     [title]="bonusNumberFrequencyLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByDayOfTheWeek$ | async as bonusNumbersByDayOfTheWeek"
                     [numberDataArray]="bonusNumbersByDayOfTheWeek"
                     [title]="bonusNumberByDayOfTheWeekLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="isEntireRangeDateRange && bonusNumberInActualMonthName$ | async as bonusNumberInActualMonthName"
                     [numberDataArray]="bonusNumberInActualMonthName"
                     [title]="bonusNumberInActualMonthNameLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="bonusNumberByOddOrEvenDay$ | async as bonusNumberByOddOrEvenDay"
                     [numberDataArray]="bonusNumberByOddOrEvenDay"
                     [title]="bonusNumberByOddOrEvenDayLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByOddOrEvenMonth$ | async as bonusNumberByOddOrEvenMonth"
                     [numberDataArray]="bonusNumberByOddOrEvenMonth"
                     [title]="bonusNumberByOddOrEvenMonthLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByYearQuarter$ | async as bonusNumberByYearQuarter"
                     [numberDataArray]="bonusNumberByYearQuarter"
                     [title]="bonusNumberByYearQuarterLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="isEntireRangeDateRange && bonusNumberByYearDayNumber$ | async as bonusNumberByYearDayNumber"
                     [numberDataArray]="bonusNumberByYearDayNumber"
                     [title]="bonusNumberByYearDayNumberLabel"></lm-advice-paragraph>
<lm-advice-paragraph *ngIf="(isEntireRangeDateRange || isLastYearRangeDateRange) && bonusNumberByMonthDayNumber$ | async as bonusNumberByMonthDayNumber"
                     [numberDataArray]="bonusNumberByMonthDayNumber"
                     [title]="bonusNumberByMonthDayNumberLabel"></lm-advice-paragraph>
