@import "base.scss";

$li-menu-height: 44.6833px;

.side-menu-container {
    @include flex(flex, flex-start, center, column, relative);
    @include size(100%, 100%);

    .logo {
        @include flex(flex, flex-start, center, row, relative);
        @include size(100%, 57px);
        color: $base-font-color;
        padding-left: $padding-m;

        img {
            @include size(45px, 45px);
            margin-left: $margin-m;
        }

        span {
            @include font('medium');
            margin-left: $margin-m;
        }

        &.menu-closed {
            padding-left: $padding-s;
        }
    }

    .router-menu {
        @include flex(flex, flex-start, flex-start, column, relative);
        @include size(100%);

        li {
            @include flex(flex, flex-start, center, row, relative);
            @include size(100%, $li-menu-height);
            padding-left: $padding-m;
            color: $base-font-color;
            user-select: none;
            cursor: pointer;
            z-index: 1;

            &.active {
                background: $primary;
            }

            span:not(.table-list-menu) {
                margin-left: $margin-m;
            }

            &.table-list-menu {
                @include flex(flex, center, flex-start, column, relative);
                @include size(100%, 2 * $li-menu-height);
                transition: height 150ms ease-in;
                padding-left: $padding-m;

                .table-list-menu-item {
                    @include flex(flex, flex-start, center, row, relative);
                    @include size(100%, $li-menu-height);
                    overflow: hidden;
                    margin-left: -$margin-m;

                    img {
                        margin-left: $margin-m;
                        @include size(36px, 36px);
                    }

                    &.active {
                        background: $primary;
                    }
                }

                &.list-closed {
                    height: 0;
                    overflow: hidden;
                    transition: height 150ms ease-out;
                }

                &.menu-closed:not(.list-closed) {
                    .table-list-menu-item {
                        width: 50px;
                    }
                }
            }
        }

        &.menu-closed {
            li {
                padding-left: $padding-s;
            }

            span {
                color: $prime-ng-table-header-color;
            }
        }
    }

    .timer-container {
        @include size(100%, 100px);
        position: absolute;
        bottom: 0;
    }
}
