@import "base.scss";

.side-menu-container {
    @include flex(flex, flex-start, center, column, relative);
    @include size(100%, 100%);

    .logo {
        @include flex(flex, flex-start, center, row, relative);
        @include size(100%, 57px);
        color: $base-font-color;
        padding-left: $padding-m;

        img {
            @include size(45px, 45px);
            margin-left: $margin-m;
        }

        span {
            @include font('medium');
            margin-left: $margin-m;
        }

        &.menu-closed {
            padding-left: $padding-s;
        }
    }

    .router-menu {
        @include flex(flex, flex-start, flex-start, column, relative);
        @include size(100%);

        li {
            @include flex(flex, flex-start, center, row, relative);
            @include size(100%, 44.6833px);
            padding-left: $padding-m;
            color: $base-font-color;
            user-select: none;
            cursor: pointer;
            text-wrap: none;

            &.active {
                background: $primary;
            }

            span {
                margin-left: $margin-m;
            }
        }

        &.menu-closed {
            li {
                padding-left: $padding-s;
            }

            span {
                color: $prime-ng-table-header-color;
            }
        }
    }

    .timer-container {
        @include size(100%, 100px);
        position: absolute;
        bottom: 0;
    }
}
