$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$leaf: #57b846;
$leaf-light: #56ab2f;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$light: #cccccc;
$dark: #343a40;
$black: #000000;
$white: #ffffff;

$primeng-input-border: #a6a6a6;

$background-theme: #B8D047;
$background-board: #3F3F3F;
