@mixin flex($flex: inline-flex, $justify-content: flex-start, $align-items: stretch, $flex-direction: row, $position: static, $wrap: nowrap) {
    display: $flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    position: $position;
    flex-wrap: $wrap;
}

@mixin size($width: auto, $height: auto, $max-width: none, $max-height: none) {
    width: $width;
    height: $height;
    max-width: $max-width;
    max-height: $max-height;
}

@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@function toRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: toRem($size);
}

@mixin font($font-size, $font-weight: 400, $font-family: 'Roboto') {
    line-height: 1.625rem;
    @if ($font-size == 'ultra-small') {
        font-size: .75rem;
    } @else if ($font-size == 'small') {
        font-size: 1rem;
    }
    @if ($font-size == 'medium') {
        font-size: 1.625rem;
        line-height: 2.437rem;
    }
    @if ($font-size == 'big') {
        font-size: 2.625rem;
        line-height: 2.937rem;
    }
    @if ($font-size == 'big-x2') {
        font-size: 5.250rem;
        line-height: 6.875rem;
    }
    @if ($font-size == 'big-x3') {
        font-size: 7.875rem;
        line-height: 9.500rem;
    }
    font-family: $font-family, serif;
    font-weight: $font-weight;
}

@mixin max-device-width-1366() {
    @media screen and (max-width: 1366px) {
        @content
    }
}

@mixin max-device-width-1024() {
    @media screen and (max-width: 1024px) {
        @content
    }
}

@mixin max-device-width-800() {
    @media screen and (max-device-width: 800px) {
        @content
    }
}
