// border radius
$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$border-radius-xl: 20px;
$border-radius-xxl: 25px;

$border-radius-25: 25%;
$border-radius-50: 50%;
$border-radius-75: 75%;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$margin-xl: 20px;
$margin-xxl: 25px;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;
$padding-xxl: 20px;

$box-shadow-base: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
