// border radius
$border-radius-xs: 5px;
$border-radius-sm: 10px;
$border-radius-md: 15px;
$border-radius-xl: 20px;

$border-radius-25: 25%;
$border-radius-50: 50%;
$border-radius-75: 75%;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$margin-xl: 30px;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 30px;
