@import "base.scss";

.accordion-menu {
    @include flex(flex, flex-end, center, row);
    @include size(100%);
    padding: $padding-m 0;
}

.ball-data-container {
    @include flex(inline-flex, center, center, column);

    .ball-data {
        @include flex(inline-flex, center, center, column);
        margin-right: $margin-m;

        span {
            text-align: center;
        }
    }
}
