@import "base.scss";

.accordion-menu {
    @include flex(inline-flex, space-between, center, row);
    @include size(100%);
    padding: $padding-l 0;

    span {
        span {
            &:not(:last-of-type) {
                margin-right: $margin-m;
            }
        }
    }
}

.ball-data-container {
    @include flex(inline-flex, center, center, column);

    .ball-data {
        @include flex(inline-flex, center, center, column);
        margin: 0 $margin-m $margin-m 0;

        span {
            text-align: center;
        }
    }
}
